.containmain{
  display: flex;
  flex-direction:column;
  justify-content: center;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%,
   rgba(0,0,0,0) 100%);
   border-radius: 1rem 1rem 0 0;
}

.texto {
  text-align: center;
  margin: 2rem 0;
}

.contain {
  display: flex;
  justify-content: center;
  gap: 2rem;
  // display: grid;
  // gap: 1rem;
  // grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  flex-wrap: wrap;
  margin: 5rem 0;
}
// @media (max-width: 480px) {
//   .contain {
//     grid-template-columns: 1fr 1fr;
//   }
//   .texto {
//     color: black;
//   }
// }
// @media (min-width: 480px) and (max-width: 1090px) {
//   .contain {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
//   .texto {
//     color: black;
//   }
// }
