.containmain{
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.texto {
  text-align: center;
  margin: 2rem 0;
}

.contain {
  // align-self: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
  // display: grid;
  // gap: 1rem;
  // grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  flex-wrap: wrap;
}
// @media (max-width: 480px) {
//   .contain {
//     grid-template-columns: 1fr 1fr;
//   }
//   .texto {
//     color: black;
//   }
// }
// @media (min-width: 480px) and (max-width: 1090px) {
//   .contain {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
//   .texto {
//     color: black;
//   }
// }
