.navbarcontain {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  border-bottom: 5px solid rgb(123, 123, 123);
}
.group1{
  display: flex;
  flex-direction: row;
}
.navbarcontainMovile,
.interresolution {
  display: none;
}

.btnnavbar {
  background-color: black;
  margin: .4rem;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  font-size: 1.3rem;
  text-decoration-line: none;
  color: white;
  cursor: pointer;
  transition: .5s;
}

.btnnavbar:hover {
  background-color: aliceblue;
  opacity: 80;
  color: black;
}
.img {
  height: 130px;
  width: 413px;
}
.img:hover{
  cursor: pointer;
}
@media (min-width: 481px) and (max-width: 1020px) {
  .navbarcontain,
  .navbarcontainMovile {
    display: none;
  }

  .interresolution {
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 5px solid rgb(123, 123, 123);
  }
  .img {
    width: 300px;
    height: 100px;
  }
  .imagenbar {
    margin-right: 35px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.6s;
  }
  .imagenbar:hover {
    transform: rotateZ(90deg);
  }
  .optionMovile {
     position: fixed;
     top: 60px;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: black;
     transition: 0.4s;
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     justify-content: center;
     transition: 0.3s;
  }
  .optionMovile div {
    margin: 2rem 0;
    cursor: pointer;
  }
  .optionMovile div:hover {
    background-color: aliceblue;
    border-radius: 2rem;
    padding: 0 1rem;
    color: black;
  }
}

@media (max-width: 480px) {
  .interresolution,
  .navbarcontain {
    display: none;
  }
  .navbarcontainMovile {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    border-bottom: 5px solid rgb(123, 123, 123);
  }
  .imagentb {
    width: 91px;
    height: 100px;
  }
  .imagenbar {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.6s;
  }
  .imagenbar:hover {
    transform: rotateZ(90deg);
  }

  .optionMovile {
    position: absolute;
    top: 105px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 1s;
  }
  .optionMovile div {
    margin: 2rem 0;
    cursor: pointer;
    padding: 1rem 2rem;
  }
  .optionMovile div:hover {
    background-color: aliceblue;
    border-radius: 1rem;
    color: black;
  }
}
