.infotexto{
    margin: 5rem 0;
}

.cards_grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    .card{
        width: 200px;
        height: 325px;
    }   
}



@media (max-width: 480px) {
.cards_grid{
    flex-wrap: wrap;
    gap: 1rem;
    height: 325px;
    overflow: scroll;
    .card{
        width: 200px;
        height: 325px;
    }   
}
}