.contenedorPersonajesinfo {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column; 
  border-radius: 1rem 1rem 0 0;
  padding: 2rem; 
}
.contenedorInfoJuego {
  display: flex;
  justify-content: center;
  align-items: center;
  * {
    font-size: 1.7rem;
  }
}
.imagenTB {
  margin-left: 2rem;
  width: 182px;
  height: 160px;
}
.contenedorPersonajes {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.cointainhabilidadgift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  .Hb1 {
    background-color: rgba(0, 0, 0, 0.852);
    text-align: start;
    margin: 2rem 0;
    border-radius: 1rem;
    max-width: 850px; 
    font-size: 1.6rem;
    p{
      margin: 2rem;
    }
  }
  .containhabilidad {
    display: flex;
    flex-direction: row; 
    justify-content: start; 
    margin: 0 auto;
    gap: 2rem;
    .hability {
      width: 12rem;
      height: auto;
      cursor: pointer;
      margin: auto;
      transition: .5s;
    } 
  }
}
// .activeButton{
//   background-color: rgba(222,42,222,1);
//   border-radius: 100%;
//   -webkit-box-shadow: 0px 0px 16px 7px rgba(222,42,222,1);
// -moz-box-shadow: 0px 0px 16px 7px rgba(222,42,222,1);
// box-shadow: 0px 0px 16px 7px rgba(222,42,222,1);
// }
.gift {
  margin: 0 1rem;
  width: 20rem;
  height: 367px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #3d063b;
}



//-------------------------RESPONSIVE---------------------------------

@media (max-width: 480px) {
  .imagenTB {
    display: none;
  }
  .contenedorPersonajesinfo {
    p{
      font-size: 1rem;
    }
  }
  .imagenHud {
    width: 300px;
    height: 100px;
    padding: 1rem;
  }
  .cointainhabilidadgift { 
    margin: 1rem auto;
    .Hb1 { 
      margin: .6rem 0;
      border-radius: 1rem; 
      font-size: 1.6rem;
      p{
        font-size: 1rem;
        margin: 1rem;
      }
    }
    .containhabilidad { 
      flex-wrap: wrap; 
      gap: .5rem;
      .hability {
        width: 5.5rem;   
      } 
    }
  }
  .contenedorInfoJuego {
    * {
      font-size: 1rem;
    }
  }
 
}

@media (min-width: 481px) and (max-width: 719px) {
  .imagenTB {
    width: 200px;
    height: 150px;
    padding: 1rem;
  }
  .imagenHud {
    width: 300px;
    height: 100px;
    padding: 1rem;
  }
}

@media (min-width: 720px) and (max-width: 1280px) {
  .imagenTB {
    width: 200px;
    height: 150px;
  }
  .imagenHud {
    width: 400px;
    height: 100px;
    padding: 1rem;
  }
}
