.contenedorPersonajesinfo {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contenedorInfoJuego {
  display: flex;
  justify-content: center;
  align-items: center;
  * {
    font-size: 1.7rem;
  }
}
.imagenTB {
  margin-left: 2rem;
  width: 175px;
  height: 200px;
}
.contenedorPersonajes {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.cointainhabilidadgift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto;
}
.containhabilidad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1rem;
  // background-color: #3d063b;
}
.gift {
  margin: 0 1rem;
  width: 20rem;
  height: 367px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #3d063b;
}

.hability {
  background-color: beige;
  margin: 1rem;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  cursor: pointer;
}
.Hb1 {
  text-align: start;
  margin: 1rem 0;
  border-radius: 1rem;
  // width: 550px;
  // height: 250px;
  font-size: 1.6rem;
}

//-------------------------RESPONSIVE---------------------------------

@media (max-width: 480px) {
  .imagenTB {
    width: 200px;
    height: 150px;
    padding: 1rem;
  }
  .imagenHud {
    width: 300px;
    height: 100px;
    padding: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 719px) {
  .imagenTB {
    width: 200px;
    height: 150px;
    padding: 1rem;
  }
  .imagenHud {
    width: 300px;
    height: 100px;
    padding: 1rem;
  }
}

@media (min-width: 720px) and (max-width: 1280px) {
  .imagenTB {
    width: 200px;
    height: 150px;
  }
  .imagenHud {
    width: 400px;
    height: 100px;
    padding: 1rem;
  }
}
