body {
    background-image: url(../public/img/Espacio4-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 6000px;
    color: white;
    font-size: 2rem;
    margin: 0;
}
/* header{
  position: fixed;
} */

.noseXD{
  color: red !important;
  fill: red !important;
}
p{
  font-family: sans-serif;
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.1em;
  margin: 1rem;
  text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
    background: #011234;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 2em;
    /* background: rgb(61, 46, 104); */
    background: linear-gradient(-45deg, #5052e5, #934be6);
  }

  @media (max-width: 480px){

    p{
        font-size: 1rem;
    }
    
}