.navbarcontain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: black;
  box-sizing: border-box;
}

.navbarcontainMovile, .interresolution{
  display: none;
}

.btnnavbar{
  background-color: black;
  padding: .8rem 1rem;
  border-radius: .6rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.btnnavbar:hover{
  background-color: aliceblue;
  opacity: 80;
  color: black;
}

/* .group1 {
  display: flex;
}

.botonright {
  margin-right: 10px;
} */

.img {
  height: 150px;
  width: 500px;
}

/* 
@media (max-width: 1000px) {
  .navbarcontain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    cursor: pointer;
  }
} */
@media (min-width: 481px) and (max-width: 1020px){
  .navbarcontain, .navbarcontainMovile{
    display: none;
  }
  .interresolution{
    background-color: rgb(77, 35, 35);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .img{
    width: 300px;
    height: 100px;
  }
  .imagenbar{
    margin-right: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .optionMovile{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: black;
    transition: 0.4s;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transition: 0.3s;
  }
  .optionMovile div{
    margin: 2rem 0;
    cursor: pointer;
  }
  .optionMovile div:hover{
    background-color: aliceblue;
    border-radius: 2rem;
    padding:0 1rem;
    color: black;
  }
  
}

@media (max-width: 480px){
  .interresolution, .navbarcontain{
    display: none;
  }
  .navbarcontainMovile{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(107, 83, 83);
      
    }
    .imagentb{
      width: 100px;
      height: 100px;
    }
    .imagenbar{
      margin-right: 15px;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    .optionMovile{
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      width: 100vw;
      background-color: black;
      transition: 0.4s;
      height: 450px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      transition: 0.7s;
    }
    .optionMovile div{
      margin: 2rem 0;
      cursor: pointer;
    }
    .optionMovile div:hover{
      background-color: aliceblue;
      border-radius: 2rem;
      padding:0 1rem;
      color: black;
    }
} 
