.navbarcontain {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(53, 30, 80);
  box-sizing: border-box;
  padding: 0 2rem;

}

.btnnavbar{
  background-color: rgb(110, 155, 156);
  padding: .5rem .7rem;
  border-radius: .6rem;
}

.group1 {
  display: flex;
}

.botonright {
  margin-right: 10px;
}

.img {
  height: 100px;
  width: 400px;
}


@media (max-width: 1000px) {
  .navbarcontain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* .logo {
    cursor: pointer;
  } */
}
