.fondo1 {
  position: relative;
  background-image: url('../public/img/Fondo/space1.png');
  background-size: contain;
  background-repeat: no-repeat;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0%;
  }
}
.fondo2 {
  background-image: url('../public/img/Fondo/cuidad1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.fondo3{
  background-image: url('../public/img/Fondo/cloaca.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.fondo5{
  background-image: url('../public/img/Fondo/cueva.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.fondo4{
  background-image: url('../public/img/Fondo/lava.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

@media only screen and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .contain{
    max-width: 480px;
  }
}



// @media (min-height: 1920px){
//   .fondo1 {
//     width: 100%;
//     height: 6000px;
//   }
// }

// @media (max-width: 1919px){
//   .fondo1 {

//     background-size: contain;
//   }

//   .fondo2 {

//     background-size: contain;
//   }

// }