.fondo1{
    background-image: url(../img/Espacio.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1080px;
    height: 1080px;
}
.fondo2{
    background-image: url(../img/Espacio.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1080px;
    height: 1080px;
}
.fondo3{
    background-image: url(../img/Espacio.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1080px;
    height: 1080px;
}
.fondo4{
    background-image: url(../img/Espacio.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1080px;
    height: 1080px;
}
.fondo5{
    background-image: url(../img/Espacio.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1080px;
    height: 1080px;
}