.contain {
  display: flex;
  flex-direction: column;
  div {
    position: relative;
  }
}
.margincontain {
  margin: 0 20%;
}
.position1{
  top: 60vh;
}
.fondo1 {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../public/img/Fondo/fondo1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 240vh;
  width: 100%; 
}
.fondo1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px); 
}
.fondo2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px); 
}
.fondo3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px); 
}
.fondo4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px); 
}
.fondo5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px); 
}
.fondo2 {
  background-image: url("../public/img/Fondo/fondo2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 130vh;
  width: 100%;
}
.fondo3 {
  background-image: url("../public/img/Fondo/fondo3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.fondo4 {
  background-image: url("../public/img/Fondo/fondo4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 220vh;
  width: 100%;
}
.fondo5 {
  background-image: url("../public/img/Fondo/fondo5.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 360vh;
  width: 100%;
}




//Responsive

@media (max-width: 480px) {
  .position1{
    top: 30vh;
  }
  .margincontain {
    margin: 0 5%;
  }
}