.textoinicial {
  position: relative;
  // z-index: 1;
  font-size: 2rem;
  margin: 37rem 15% 0 15%;
  animation: textosos 4s ease-in normal;
  text-align: justify;
  color: aliceblue;
  text-shadow: 3px 2px 4px #000000;
}
@keyframes textosos {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@media (max-width: 480px){
  .textoinicial{
    width: 480px;
    font-size: 1rem;
  }
}
@media (min-width: 481px) and (max-width: 1150px) {
  .textoinicial {
    font-size: 1.5rem;
    margin: 25rem 10% 0 10%;
  }
}

@media (max-width: 480px) {
  .textoinicial {
    font-size: 1rem;
    margin: 25rem 10% 0 10%;
  }
}
