.textoinicial {
  font-size: 2rem;
  margin: 37rem 0% 0 0%;
  animation: textosos 4s ease-in normal;
  text-align: center;
}

@keyframes textosos {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@media (min-width: 481px) and (max-width: 1150px) {
  .textoinicial {
    font-size: 1.5rem;
    margin: 25rem 0% 0 0%;
  }
}

@media (max-width: 480px) {
  .textoinicial {
    font-size: 1rem;
    margin: 25rem 10% 0 10%;
  }
}
