.contenedorPersonajesArmas {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15rem 20% 0 20%;
  /* overflow: hidden;
    background-color: rgba(33, 2, 57, 0.892); */
}

.contenedorInfoJuego {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 2rem;
  *{
    font-size: 1.7rem;
  }
}
.imagenTB {
  margin: 0 1rem ;
  width: 175px;
  height: 200px;
  
}
//contain person
.contenedorPersonajes {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0 3rem;
}

.cointainhabilidadgift{
  display: flex;
  flex-direction: column;
  justify-content:center; 
  margin: 0 auto;
}
.containhabilidad{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1rem;
  background-color: #3d063b;
}
.gift{
  margin: 0 1rem;
  width: 20rem;
  height: 367px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #3d063b;
}

.hability{
  background-color: beige;
  margin: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
.Hb1{
  text-align: start;
  margin: 1rem 0;
  border-radius: 1rem;
  width: 550px;
  height: 250px;
  font-size: 1.6rem;
  background-color: #3d063b;
  *{
    margin: 1rem;
  }
}
.contenedorArmas {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
}
.contenedorArmas div p {
  margin: 0 10%;
}
.contenedorImagenArmas {
  margin: 3rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.imagenHud {
  width: 900px;
  height: 160px;
}

.textoimagenarmas {
  margin: 5rem 0 0 0;
  align-items: center;
  text-align: center;
  font-size: 2.7rem;
  // position: absolute;
  // top: 10px;
  // left: 50%;
  // transform: translateX(-50%);
}
.imagenArma {
  border: solid 4px rgb(172, 172, 172);
  border-radius: 0.4rem;
  width: 300px;
  height: 200px;
  background-color: rgba(21, 21, 21, 0.863);
}

/* BOTONES */

.btnarmasleft {
  // position: absolute;
  // left: -10%;
  // top: 53%;
  margin: 22rem 1rem;
  transform: rotate(180deg);
  cursor: pointer;
  background: radial-gradient(circle, #910b97 0, #3f0542 66%);
  padding: 10px;
  border-radius: 50%;
  transition: 0.6s;
}
.btnarmasrigth {
  // position: absolute;
  // right: 3%;
  // top: 53%;
  margin: 22rem 1rem;
  cursor: pointer;
  background: radial-gradient(circle, #910b97 0, #3f0542 66%);
  padding: 10px;
  border-radius: 50%;
  transition: 0.6s;
}
.btnarmasrigth:hover {
  background: radial-gradient(circle, #ff43ef 25%, #3d063b 66%, #ff43efa2 20%);
}
.btnarmasleft:hover {
  background: radial-gradient(circle, #ff43ef 25%, #3d063b 66%, #ff43efa2 20%);
}

@media (min-width: 710px) and (max-width: 1280px) {
  .contenedorPersonajesArmas {
    /* width: 500px;
    height: 400px; */
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .imagenTB {
    width: 200px;
    height: 150px;
  }
  .imagenHud {
    width: 400px;
    height: 100px;
    padding: 1rem;
  }

  .imagenArma {
    width: 200px;
    height: 150px;
  }
  .textoimagenarmas {
    top: -30px;
  }
}

@media (max-width: 710px) {
  .imagenTB {
    width: 200px;
    height: 150px;
    padding: 1rem;
  }

  .imagenHud {
    width: 300px;
    height: 100px;
    padding: 1rem;
  }
  .contenedorPersonajesArmas {
    margin: 60rem 20% 0 20%;
  }
  .contenedorImagenArmas {
    overflow: auto;
    height: 600px;
    grid-template-columns: 1fr;
    width: 250px;
    justify-content: center;
    text-align: center;
  }
  .imagenArma {
    width: 150px;
    height: 150px;
  }
  .btnarmasleft {
    left: -50%;
    top: 45%;
    padding: 10px;
    border-radius: 50%;
    transition: 0.6s;
  }
  .btnarmasrigth {
    right: -20%;
    top: 45%;
    padding: 10px;
    border-radius: 50%;
    transition: 0.6s;
  }
}
@media (min-width: 710px) and (max-width: 900px) {
  .contenedorImagenArmas {
    overflow: auto;
    height: 600px;
    grid-template-columns: 1fr 1fr;
  }
  .btnarmasleft {
    left: -20%;
    top: 45%;
    padding: 10px;
    border-radius: 50%;
    transition: 0.6s;
  }
  .btnarmasrigth {
    right: -20%;
    top: 45%;
    padding: 10px;
    border-radius: 50%;
    transition: 0.6s;
  }
}
@media (max-width: 481px) {
  .imagenTB {
    width: 200px;
    height: 150px;
    padding: 1rem;
  }

  .imagenHud {
    width: 300px;
    height: 100px;
    padding: 1rem;
  }
  .contenedorPersonajesArmas {
    margin: 60rem 20% 0 20%;
  }
  .contenedorImagenArmas {
    overflow: auto;
    height: 600px;
    grid-template-columns: 1fr;
    width: 250px;
    justify-content: center;
    text-align: center;
  }
  .imagenArma {
    width: 150px;
    height: 150px;
  }
  .btnarmasleft {
    left: -30%;
    top: 45%;
    padding: 10px;
    border-radius: 50%;
    transition: 0.6s;
  }
  .btnarmasrigth {
    right: -40%;
    top: 45%;
    padding: 10px;
    border-radius: 50%;
    transition: 0.6s;
  }
}
