.contenedorPersonajesArmas{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 90rem 30rem;
    /* overflow: hidden;
    background-color: rgba(33, 2, 57, 0.892); */
    
}

.contenedorInfoJuego{
    display: flex;
    margin:  0 3rem;
}

.contenedorPersonajes{
    display: flex;
    flex-direction: column;
    margin:  0 3rem;
}

.contenedorArmas{
    display: flex;
    flex-direction: column;
    margin:  3rem;
}